li{
  border: 1px solid;
  list-style-type: none;
  padding: 5px;
  margin-bottom: 5px;
}

img{
  width: 200px;
  height: 200px;
}

.alert{
  background-color: lightcoral;
  margin-top: 15px;
}
