<div *ngIf="noResults$ | async">
  No results found for this query
</div>
<div class="alert" *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>
<ul>
  <li *ngFor="let book of books$ | async">
    <div>
      <p>{{book.title}}</p>
      <p>{{book.authors}}</p>
      <img src="{{book.coverImage}}">
      <a href="{{book.volumeLink}}"> Learn more about the book</a>
    </div>
  </li>
</ul>

<button *ngIf="moreBooks$ | async as moreBooks" (click)="onLoadMore()">Load More</button>
