<div class="searchContainer">
 <app-searchbar (search)="handleSearch($event)"></app-searchbar>
<div *ngIf="error">
  {{error}}
</div>
<div *ngIf="noResults">
  No results found for this query
</div>
<app-searchresults [books]="books"></app-searchresults>
</div>
<div *ngIf="booksLoaded && books.length" style="text-align: center;">
  <button class="loadMore" (click)="handleLoadMore()">Load more</button>
  {{loadMoreMessage}}
<!--
  <ng-container *ngIf="loadMoreMessage", else load_button>

  </ng-container>

  <ng-template #load_button>

  </ng-template> -->


</div>



